/* CSS Reset */
html, div, p{margin: 0; padding: 0;}

body{
	margin: 0; 
	padding: 0; 
	background:#fffde4 
	url(../images/body-bg.png) repeat-x;
}

#headWrap{
	width:100%; 
	height:200px; 
	margin:0; 
	padding:0; 
	background:url(../images/head-bg.png) top left no-repeat;
}

#mainWrap{
	width:100%; 
	height: 100%; 
	margin:0px; 
	padding:0px; 
	float:left; 
	background:url(../images/tdtop.png) top left no-repeat
}


#logoWrap{
	width:100%; 
	margin:0px; 
	padding:0px; 
	float:left
}

h1{
	width:246px; 
	height:56px; 
	margin: 120px 0 0 200px; 
	padding:0 110px; 
	float:left; 
	line-height:10px; 
	text-indent:-9999px; 
	background:url(../images/logo.png) no-repeat
}

#slogan{
	width:300px; 
	margin:0 0 0 400px; 
	padding:0px; 
	float:left
}

#slogan p{
	margin:0px; 
	font-family:Georgia; 
	font-size:20px; 
	color:#497f35; 
	line-height:24px; 
	text-align:left
}


#main-left {
	width: 100%;
	margin-left: 15px;
	padding: 0;
}

.services{
	width:700px; 
	margin:34px 0 40px 0; 
	padding:0px; 
	float:left
}

.services h2{
	width:800px; 
	margin:0px; 
	padding:0px; 
	float:left; 
	font-family:Georgia; 
	font-size:24px; 
	color:#2c787b; 
	line-height:28px; 
	font-weight:normal
}

.services h3{
	width:800px; 
	margin:0px; 
	padding:0px; 
	float:left; 
	font-family:Georgia; 
	font-size:18px; 
	color:#943415; 
	line-height:22px; 
	font-weight:normal;
	clear: both
}

.services .pic{
	width:120px; 
	height:150px; 
	margin:15px 0 0 0; 
	padding:0 0 0 15px; 
	float:left 
}

.services .pic#cth{
	background:url(../images/cth.png) no-repeat
}

.services .pic a{font-family:Arial; font-size:12px; color:#943415; line-height:14px; margin:126px 0 0 0; padding:0px; float:left; width:123px}

.services .detail{
	width:500px; 
	margin:14px 0 0 0; 
	padding:0 0 0 20px; 
	float:left; 
}

.services .detail p{
	font-family:Arial; 
	font-size:12px; 
	color:#bb9d59; 
	line-height:16px
}
.services .detail p span{font-weight:bold}

.services .market{
	width:500px; 
	margin:14px 0 0 0; 
	padding:0 0 0 20px; 
	float:left;
}

.services .market a{
	float: left;
	margin: 2px 20px 0 0;
}

.services h3.feature{
	width:390px; 
	margin:13px 0 0 0; 
	padding:0 0 0 20px; 
	float:left; 
	font-family:Georgia; 
	font-size:18px; 
	color:#5c4527; 
	line-height:22px; 
	font-weight:normal
}

.services ul{
	width:390px; 
	margin:5px 0 0 0; 
	padding:0 0 0 20px; 
	float:left; 
	display:block
}

.services ul li{
	width:390px; 
	margin:0px; 
	padding:0px; 
	float:left; 
	display:block
}

.services ul li p{
	width:372px; 
	height:22px; 
	margin:0px; 
	padding:0 0 0 18px; 
	float:left; 
	font-family:Arial; 
	font-size:11px; 
	color:#943415; 
	line-height:20px; 
	font-weight:bold; 
	text-decoration:none; 
	border-bottom:#d8cd2f dashed 1px; 
	background:url(../images/checkStyle.gif) no-repeat 2px 6px
}
.services ul li p.bottom{
	width:372px; 
	height:22px; 
	margin:0px; 
	padding:0 0 0 18px; 
	float:left; 
	font-family:Arial; 
	font-size:11px; 
	color:#943415; 
	line-height:20px; 
	text-decoration:none; 
	border-bottom:0px; 
	background:url(../images/checkStyle.gif) no-repeat 2px 6px
}

a.google_play {
    background-image:url(../images/google-play.png);
    display:block;
    height:40px;
    text-indent:-9999px;
    width:168px;
}

a.app_store{
	background-image:url(../images/App_Store.png);
    display:block;
    height:40px;
    text-indent:-9999px;
    width:116px;
}

.services .support{
	width: 100%; 
	height:24px; 
	margin:10px 0 0 0; 
	padding:0px; 
	float:left; 
	background:#f9f6d4
}

.services .support p{
	font-family:Arial; 
	font-size:16px; 
	color:#bb9d59; 
	line-height:24px
}

#footPanel{width:923px; margin:0px; padding:25px 0 29px 0; float:left; background:url(../images/footbg.jpg) no-repeat center top}
#footPanel .designInfo{width:923px; margin:3px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:11px; font-weight:bold; color:#bb9d59; text-align:center}
#footPanel .designInfo a{color:#943415; text-decoration:none}